$schema: "https://gobl.org/draft-0/bill/invoice"
series: "{{ .series | optional }}"
code: "{{ .code | optional }}"
supplier:
  tax_id:
    country: "ES"
    code: "B98602642" # random
  name: "Provide One S.L."
  emails:
    - addr: "billing@example.com"
  addresses:
    - num: "42"
      street: "Calle Pradillo"
      locality: "Madrid"
      region: "Madrid"
      code: "28002"
      country: "ES"

customer:
  name: "{{ .customer_name }}"
  tax_id:
    country: "{{ .customer_country }}"
    code: "{{ .customer_tax_code }}"

lines:
  {{ range .lines }}
  - quantity: {{ .quantity }}
    item:
      name: "{{ .item_name }}"
      price: "{{ .item_price }}"
    taxes:
      - cat: "VAT"
        rate: "standard"
  {{ end }}